
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400&display=swap');

* {
    font-family: 'Oswald', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    margin: 0;
    background-image:url('../res/Login-wallpaper.jpg');
    background-size: cover;
    background-position: center;
    
    font-family: 'Oswald', sans-serif;
}

#title{
    font-size: 1.5vw;
    margin-bottom: 20px;
    color: white;
}

.container_total{
    width: 100%;
    height: 30%;
    padding-top: 7%;
}



.container_login{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 20vw;
    min-width: 20vw;
    max-height: 15vw;
    min-height: 15vw;
    border: 2px solid orange;
    border-radius: 10%;
    padding: 70px;
    background-color: rgba(0, 0, 0, 0.7);
}

input{
    background-color: rgba(0, 0, 0, 0.918);
    color: rgba(255, 255, 255, 0.63);
    padding-right: 10px;
    padding-left: 10px;
    width: 100%;
    height: 4vh;
    border: 1px solid black;
    border-radius: 10px;
    box-sizing: border-box;
    font-size: 0.8vw;
}

::placeholder{
    color: rgba(255, 255, 255, 0.63);
}

.container_button{
    width: 100%;
    display: flex;
    justify-content: center;
}

#button_login {
    width: 40%;
    height: 5vh;
    display: block;
    margin-top: 10px;
    border: 1px solid black;
    border-radius: 15px;
    background-color: orange;
    font-size: 0.8vw;
}

 p {
 	
	color:white;
	text-align: center;
	font-size: 0.8vw;
}

a {
	color: white;
}

a:hover {
	cursor: pointer;
}