<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>TheOtherSpace</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>HomePageServlet</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ProvaServlet</display-name>
    <servlet-name>ProvaServlet</servlet-name>
    <servlet-class>com.theotherspace.controller.ProvaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProvaServlet</servlet-name>
    <url-pattern>/ProvaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SignUpServlet</display-name>
    <servlet-name>SignUpServlet</servlet-name>
    <servlet-class>com.theotherspace.controller.SignUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignUpServlet</servlet-name>
    <url-pattern>/SignUpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>LogInServlet</display-name>
    <servlet-name>LogInServlet</servlet-name>
    <servlet-class>com.theotherspace.controller.LogInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogInServlet</servlet-name>
    <url-pattern>/LogInServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BookingServlet</display-name>
    <servlet-name>BookingServlet</servlet-name>
    <servlet-class>com.theotherspace.controller.BookingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BookingServlet</servlet-name>
    <url-pattern>/BookingServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CheckOutServlet</display-name>
    <servlet-name>CheckOutServlet</servlet-name>
    <servlet-class>com.theotherspace.controller.CheckOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckOutServlet</servlet-name>
    <url-pattern>/CheckOutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmationServlet</display-name>
    <servlet-name>ConfirmationServlet</servlet-name>
    <servlet-class>com.theotherspace.controller.ConfirmationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmationServlet</servlet-name>
    <url-pattern>/ConfirmationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomePageServlet</display-name>
    <servlet-name>HomePageServlet</servlet-name>
    <servlet-class>com.theotherspace.controller.HomePageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomePageServlet</servlet-name>
    <url-pattern>/HomePageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.theotherspace.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>MovieDetailsServlet</display-name>
    <servlet-name>MovieDetailsServlet</servlet-name>
    <servlet-class>com.theotherspace.controller.MovieDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MovieDetailsServlet</servlet-name>
    <url-pattern>/MovieDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyTicketServlet</display-name>
    <servlet-name>MyTicketServlet</servlet-name>
    <servlet-class>com.theotherspace.controller.MyTicketServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyTicketServlet</servlet-name>
    <url-pattern>/MyTicketServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AddMovieServlet</display-name>
    <servlet-name>AddMovieServlet</servlet-name>
    <servlet-class>com.theotherspace.controller.AddMovieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddMovieServlet</servlet-name>
    <url-pattern>/AddMovieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchMovieServlet</display-name>
    <servlet-name>SearchMovieServlet</servlet-name>
    <servlet-class>com.theotherspace.controller.SearchMovieServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchMovieServlet</servlet-name>
    <url-pattern>/SearchMovieServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyAccountServlet</display-name>
    <servlet-name>MyAccountServlet</servlet-name>
    <servlet-class>com.theotherspace.controller.MyAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyAccountServlet</servlet-name>
    <url-pattern>/MyAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccountInfoServlet</display-name>
    <servlet-name>AccountInfoServlet</servlet-name>
    <servlet-class>com.theotherspace.controller.AccountInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccountInfoServlet</servlet-name>
    <url-pattern>/AccountInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyNextTicketServlet</display-name>
    <servlet-name>MyNextTicketServlet</servlet-name>
    <servlet-class>com.theotherspace.controller.MyNextTicketServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyNextTicketServlet</servlet-name>
    <url-pattern>/MyNextTicketServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserControlPanelServlet</display-name>
    <servlet-name>UserControlPanelServlet</servlet-name>
    <servlet-class>com.theotherspace.controller.UserControlPanelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserControlPanelServlet</servlet-name>
    <url-pattern>/UserControlPanelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserControlPanelAddServlet</display-name>
    <servlet-name>UserControlPanelAddServlet</servlet-name>
    <servlet-class>com.theotherspace.controller.UserControlPanelAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserControlPanelAddServlet</servlet-name>
    <url-pattern>/UserControlPanelAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserControlPanelEditServlet</display-name>
    <servlet-name>UserControlPanelEditServlet</servlet-name>
    <servlet-class>com.theotherspace.controller.UserControlPanelEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserControlPanelEditServlet</servlet-name>
    <url-pattern>/UserControlPanelEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ConfirmReviewServlet</display-name>
    <servlet-name>ConfirmReviewServlet</servlet-name>
    <servlet-class>com.theotherspace.controller.ConfirmReviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConfirmReviewServlet</servlet-name>
    <url-pattern>/ConfirmReviewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ReviewServlet</display-name>
    <servlet-name>ReviewServlet</servlet-name>
    <servlet-class>com.theotherspace.controller.ReviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReviewServlet</servlet-name>
    <url-pattern>/ReviewServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AcceptCardServlet</display-name>
    <servlet-name>AcceptCardServlet</servlet-name>
    <servlet-class>com.theotherspace.controller.AcceptCardServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AcceptCardServlet</servlet-name>
    <url-pattern>/AcceptCardServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>MovieControlPanelServlet</display-name>
    <servlet-name>MovieControlPanelServlet</servlet-name>
    <servlet-class>com.theotherspace.controller.MovieControlPanelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MovieControlPanelServlet</servlet-name>
    <url-pattern>/MovieControlPanelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MovieControlPanelEditServlet</display-name>
    <servlet-name>MovieControlPanelEditServlet</servlet-name>
    <servlet-class>com.theotherspace.controller.MovieControlPanelEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MovieControlPanelEditServlet</servlet-name>
    <url-pattern>/MovieControlPanelEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TheaterControlPanelServlet</display-name>
    <servlet-name>TheaterControlPanelServlet</servlet-name>
    <servlet-class>com.theotherspace.controller.TheaterControlPanelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TheaterControlPanelServlet</servlet-name>
    <url-pattern>/TheaterControlPanelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TheaterControlPanelEditServlet</display-name>
    <servlet-name>TheaterControlPanelEditServlet</servlet-name>
    <servlet-class>com.theotherspace.controller.TheaterControlPanelEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TheaterControlPanelEditServlet</servlet-name>
    <url-pattern>/TheaterControlPanelEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TheaterControlPanelAddServlet</display-name>
    <servlet-name>TheaterControlPanelAddServlet</servlet-name>
    <servlet-class>com.theotherspace.controller.TheaterControlPanelAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TheaterControlPanelAddServlet</servlet-name>
    <url-pattern>/TheaterControlPanelAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ScreeningControlPanelServlet</display-name>
    <servlet-name>ScreeningControlPanelServlet</servlet-name>
    <servlet-class>com.theotherspace.controller.ScreeningControlPanelServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScreeningControlPanelServlet</servlet-name>
    <url-pattern>/ScreeningControlPanelServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ScreeningControlPanelAddServlet</display-name>
    <servlet-name>ScreeningControlPanelAddServlet</servlet-name>
    <servlet-class>com.theotherspace.controller.ScreeningControlPanelAddServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScreeningControlPanelAddServlet</servlet-name>
    <url-pattern>/ScreeningControlPanelAddServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ScreeningControlPanelEditServlet</display-name>
    <servlet-name>ScreeningControlPanelEditServlet</servlet-name>
    <servlet-class>com.theotherspace.controller.ScreeningControlPanelEditServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ScreeningControlPanelEditServlet</servlet-name>
    <url-pattern>/ScreeningControlPanelEditServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TicketDownloadServlet</display-name>
    <servlet-name>TicketDownloadServlet</servlet-name>
    <servlet-class>com.theotherspace.controller.TicketDownloadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TicketDownloadServlet</servlet-name>
    <url-pattern>/TicketDownloadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <display-name>AddFavoriteServlet</display-name>
    <servlet-name>AddFavoriteServlet</servlet-name>
    <servlet-class>com.theotherspace.controller.AddFavoriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFavoriteServlet</servlet-name>
    <url-pattern>/AddFavoriteServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RemoveReviewServlet</display-name>
    <servlet-name>RemoveReviewServlet</servlet-name>
    <servlet-class>com.theotherspace.controller.RemoveReviewServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RemoveReviewServlet</servlet-name>
    <url-pattern>/RemoveReviewServlet</url-pattern>
  </servlet-mapping>
</web-app>